body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

.LazyImage {
  background-color: black;
  width: 300px;
  height: 300px;
  opacity: 0;
}

.LazyImage--Ready {
  opacity: 1;
  transition: .2s ease-in-out opacity;
}

* {
  box-sizing: border-box;
}
